extends ../layout

block content
    .col-md-6
        h2 Criar um arquivo
        div(class="alert alert-info" role="alert")
            strong Atenção! 
            O tamanho máximo para upload de arquivos é de 10M por arquivo.
        form(action="/arquivo/addarquivo" method="post" enctype="multipart/form-data")
            .form-group
                legend Escolha um arquivo para fazer upload.
                input(type='file', name='arquivo', id='arquivo', class='form-control btn' accept=".xls,.xlsx,.pdf,.doc,.docx.,.txt,.pptx,.ppt,.odt,.ott,.oth,.odm,.jped,.jpg,.png")
                button(type="submit" class="btn btn-primary" id="btnSubmit") Upload
        .form-group
            div.progress.progress-striped.active.hide
                div.bar(style='width: 0%')
    script(src="../js/bootstrap-filestyle.min.js")
    script(src="../js/ArquivoForm.js")
block styles
    