-var arquivo = locals.arquivo

div.detail-container
    div.row
        h3 #{arquivo.nome}

    div.row.detail-section
        h4 Administrador: #{arquivo.criador.nome}

    div.row.detail-section
        h4 Descrição:
        p #{arquivo.descricao}