doctype html
html
  head
    title IF-Conecta
    link(rel='stylesheet', href='/css/bootstrap.min.css')
  body
      .text-center.margin-top-20
        h1 Oops algo deu errado :(
        h2 401 - Parece que você não está autenticado
        a(href="/" class="btn btn-primary") Login