doctype html
html
  head
    title IF-Conecta
    link(rel='stylesheet', href='/css/bootstrap.min.css')
  body
      .text-center.margin-top-20
        h1 Oops algo deu errado :(
        h2 404 - A página que você procura não pode ser encontrada
        a(href="/" class="btn btn-primary") Voltar ao início