doctype html
html
  head
    title If-Conecta
    link(rel='stylesheet', href='/css/bootstrap.min.css')
  body
    .text-center.margin-top-20
        h1 Oops algo deu errado :(
        h2 500 - Internal Server error
        h3 Tente novamente, caso o erro persista, contate o webmaster.
        a(href="/" class="btn btn-primary") Voltar ao início