extends layout

block content
    
    .timeline
        .timeline-container

block javascript
    script(src="/js/dashuser.js" type="text/javascript")
block styles
    link(rel='stylesheet', href='/css/dashuser.css')