doctype html
html
  head
    title IF-Conecta
    link(rel='stylesheet', href='/css/bootstrap.min.css')
  body
      .text-center.margin-top-20
        h1 Oops algo deu errado :(
        h2 O arquivo que você está tentando enviar é grande demais. O tamanho máximo permitido para arquivos enviados é de 10 Megabytes.
        a(href="/arquivo/addarquivo" class="btn btn-primary") Adicionar outro arquivo