body {
    background-color:#EEE;
}

.content-top {
    margin-top:70px;
}

.content-block {
    margin-top:70px;
    margin-left:40px;
}

.main-navbar {
    background-color: #82b97f;
    color: white;
}

.main-navbar a {
    color: white;
}

.navbar-item-right {
    float: right;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}

.navbar-item-left {
    float: left;
    height: 50px;
    padding: 5px 15px;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    margin-left: 10px;
}

.small-label {
    font-size: 12px;
}

.btn.sharp {
    border-radius:0;
}

.btn-link.nav-button {
    color:#000000;
    text-decoration:none;
    text-align:left;
}

.nav-icon {
    height:40px;
    width:40px;
    margin-top:-10px;
    margin-right:10px;
}

.fa-2x {
    font-size: 2em;
}
.fa-sidebar {
    position: relative;
    display: table-cell;
    width: 60px;
    height: 36px;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    margin-top:10px;
}


.main-menu:hover, nav.main-menu.expanded {
    width: 250px;
    overflow: visible;
}

.main-menu {
    background: #242424;
    border-right: 1px solid #e5e5e5;
    position: fixed;
    top: 50px;
    bottom: 0;
    height: auto;
    left: 0;
    width: 60px;
    overflow: hidden;
    -webkit-transition: width .05s linear;
    transition: width .05s linear;
    -webkit-transform: translateZ(0) scale(1,1);
    z-index: 1000;
}

    .main-menu  ul {
        margin-left: -40px;
    }

    .main-menu li {
        position: relative;
        display: block;
        width: 250px;
        margin-top:5px;
    }

        .main-menu li > a {
            position: relative;
            display: table;
            border-collapse: collapse;
            border-spacing: 0;
            color: white;
            font-family: arial;
            font-size: 14px;
            text-decoration: none;
            -webkit-transform: translateZ(0) scale(1,1);
            -webkit-transition: all .1s linear;
            transition: all .1s linear;
            margin-top: 10px;
        }

    .main-menu .nav-icon {
        position: relative;
        display: table-cell;
        width: 60px;
        height: 36px;
        text-align: center;
        vertical-align: middle;
        font-size: 18px;
    }

    .main-menu .nav-text {
        position: relative;
        display: table-cell;
        vertical-align: middle;
        width: 190px;
    }

    .main-menu > ul.logout {
        position: absolute;
        left: 0;
        bottom: 0;
    }

.no-touch .scrollable.hover {
    overflow-y: hidden;
}

    .no-touch .scrollable.hover:hover {
        overflow-y: auto;
        overflow: visible;
    }

a:hover, a:focus {
    text-decoration: none;
}

nav {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

    nav ul, nav li {
        outline: 0;
        margin: 0;
        padding: 0;
    }

    .main-menu li:hover > a, nav.main-menu li.active > a, .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus, .no-touch .dashboard-page nav.dashboard-menu ul li:hover a, .dashboard-page nav.dashboard-menu ul li.active a {
        color: #fff;
        background-color: #82b97f;
    }

.table-responsive td {
    word-wrap: break-word;
    white-space:normal;
}

@media (min-width:600px) {
    .name-header2 {
        display:none;
    }
}

@media (max-width:600px) {
    .name-header {
        display:none;    
    }
    .name-header2 {
        float:right;
        text-align:center;
        font-weight:bold;
        width:100%;
    }
}