.edit {
    float : left;
}

.remove {
    float : left;
}

.show {
    float : left;
}

.detail-item {
    padding: 8px;
    margin-left: 10px;

}

.detail-container {
    margin:10px;
}

.detail-section {
    margin:10px;
    word-break:break-word;
    white-space:normal;
}

.pag-center {
    display:table;
    margin: 0 auto;
    margin-bottom: 10px;
}

@media (max-width:600px) {
    .not_mobie {
        display:none;
    }
}

.search-box.input-group {
    margin:15px;
}

.search-box input {
    border:0px;
}

.search-box span {
    background-color:white;
    border:0px;
}

.tile {
    width:165px;
    height:165px;
    background-color:#EEE;
    border:solid 1px;
    border-color:#414141;
    margin:10px;
    float:left;
    text-align : center;
    color:#414141;
    position:relative;
}

    .tile .texto {
        display:inline-block;
        justify-content:center;
        align-items:center;
        height:100%;
        width:100%;
        word-wrap:break-word;
    }

    .tile:hover {
        background-color:#ffa96c;
    }

    .tile .btn {
        border-radius:0px;
        background-color:transparent;
    }

    .tile .btn:hover {
        background-color:rgba(255, 255, 255, 0.50);
    }

    .tile div {
        position:absolute;
        bottom:0px;
    }

.modal-responsive {
    width:auto;
    max-width:600px;
}