extends ../layout

block content
    .col-md-6
        h2 Alterar Campus
        form(role="form", id="caForm")
            .form-group
                -var campus = locals.campus
                label(for="nome") Nome:
                input(type="hidden" id="id" value="#{campus._id}")
                input(type="text", class="form-control", id="nome", placeholder="Nome", maxlength="200" value="#{campus.nome}")
            button(type="button" class="btn btn-primary" id="btnSubmit") Alterar
            a(class="btn btn-default" href="/") Cancelar
        script(src="../../js/campusEdit.js")